body{
    margin:0px;
    font: 3.7500 1rem/1.625rem "Open Sans", sans-serif;
}
@tailwind components;
@tailwind utilities;
/* The element to apply the animation to */

@keyframes expand {
  from {
    width: 60px;
  }
  to {
    width: 12rem;
  }
}

@keyframes contract {
  from {
    width: 12rem;
  }
  to {
    width:60px;
  }
}
.animate-width {
  animation-duration: 0.5s;
  overflow: hidden;
}

.animate-expand {
  animation-name: expand;
  overflow:none;
  width: 12rem;
}

.animate-contract {
  animation-name: contract;
  overflow:hidden;
  width: 60px;
}

#test:hover + #fire{
    color:red

}
/*Css for pagination*/

.activePage{
    background:red;
}


.paginate-container li{
    list-style-type:none;
}
td{
}
th{
    text-align:left;
}






/* for the active menu*/
.activeNav{
    background:blue;
    text:white;
}
.hw-33{
    height:33px;
    width:33px;
}
