body{
    margin:0px;
    font: 3.7500 1rem/1.625rem "Open Sans", sans-serif;
}
@tailwind components;
@tailwind utilities;
/* The element to apply the animation to */

@keyframes expand {
  from {
    width: 3.75rem;
  }
  to {
    width: 12rem;
  }
}

@keyframes contract {
  from {
    width: 12rem;
  }
  to {
    width:3.75rem;
  }
}
.animate-width {
  animation-duration: 0.5s;
  overflow: hidden;
}

.animate-expand {
  animation-name: expand;
  overflow:none;
  width: 12rem;
}

.animate-contract {
  animation-name: contract;
  overflow:hidden;
  width: 3.75rem;
}

#test:hover + #fire{
    color:red

}


/* for Link button*/
.linkButton{
    background: none;
    border:none;
    padding:0rem;
}

/* for the active menu*/
.activeNav{
    background:blue;
    text:white;
}
