body{
    margin:0px;
    font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
@tailwind components;
@tailwind utilities;

@keyframes expand{
  from {width:0rem;}
  to {width:16rem;}
}
@@keyframes contract{
    from{width:16rem;}
    to{width:32rem;}

}
/* The element to apply the animation to */

@keyframes expand {
  from {
    width: 0rem;
  }
  to {
    width: 16rem;
  }
}

@keyframes contract {
  from {
    width: 16rem;
  }
  to {
    width: 0rem;
  }
}

.animate-width {
  animation-duration: 0.5s;
  overflow: hidden;
}

.animate-expand {
  animation-name: expand;
  width: 16rem;
}

.animate-contract {
  animation-name: contract;
  width: 0rem;
}


